footer
{
    max-width: 100%;
    display: flex;
    justify-content: flex-start; /*éléments mis côte à côte*/
    flex-direction: column ;
    background-color: #F2f2f2;
    padding-bottom: 3em;
    padding-left: 1em;
}

.footermenucolumn
{
    margin: 1em;
    margin-right: 5em;
}

ul[class=footermenu]
{
    list-style: none;
    padding-left: 0em;
    margin-bottom: -1em;

}

li[class=footermenu]
{
    margin-bottom:0.7em;
}

/*responsive design pour smartphone*/
@media screen and (max-device-width:480px) 
{


}
/*Responsive desktop*/
@media screen and (min-device-width:1150px) 
{
    footer
    {
        display: flex;
        flex-direction: row;
        padding: 2%;
        margin: 0em -2em -2em -2em;
    }
    .footermenucolumn
    {
        margin-right: 15em;
        margin-top: 0em;
    }
}