@font-face
{
    font-family: "Raleway" ; src: url("polices/static/Raleway-Medium.ttf");
}

footer
{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 0.7em ;
    display: flex;
    justify-content: flex-start; /*éléments mis côte à côte*/
    background-color: #F2f2f2

}


ul[class=footermenu]
{
    list-style: none;
    padding-left: 0em;
}

.footermenucolumn
{
    margin: 2em;
    margin-right: 5em;
}
