footer
{
    width: 100%;
    display: flex;
    justify-content: flex-start; /*éléments mis côte à côte*/
    background-color: #F2f2f2
}


ul[class=footermenu]
{
    list-style: none;
    padding-left: 0em;
}

.footermenucolumn
{
    margin: 2em;
    margin-right: 5em;
}

/*responsive design pour smartphone*/
@media screen and (max-device-width:480px) 
{
    footer
    {
        display:flex;
        flex-direction: column ;
    }
}