@font-face 
{
    font-family: "Raleway" ; src: url("polices/static/Raleway-Medium.ttf");
}

body
{
    width :100% ;
    margin-left: 0%;
}


header
{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 0.8em ;
}

#logo
{
    width: 7em ;
    height: 100%;
    margin-left: 5%;
}

#login
{
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    right: 2.5em;
    top:2em;
}


/*Paramètres nav */
ul[class=navmenu] 
{
    list-style: none; /*puces retirées*/
    padding-left:0em ; /*tabulation liste retirée*/
    display: flex ;
    justify-content: space-between;
}
li[class=navmenu] 
{
    padding: 1em ; /*marge intérieure*/
    border-bottom: 0.2em #f2f2f2 solid;
    text-align: center ;
    width: 50%;
}
li[class=navmenu]:hover /*dynamique au clic*/
{
    padding: 1em ; /*marge intérieure*/
    border-bottom: 0.2em #0065FC solid;
}

.lowheader
{
    padding-left: 5%;
    padding-right: 5%;

}

h1
{
    font-size: 1.5em;
}


/*barre de recherche*/
.searchbar
{
    display:flex;
    justify-content: flex-start;
    align-items:center;
}
.fas.fa-map-marker-alt
{
    text-align:center;
    background-color: #f2f2f2;
    padding: 1.02em;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    font-size: 1.089em ;  
}
#cityfinder
{
    border: #f2f2f2 solid 0.01em;
    padding: 1em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 1em ;
    font-weight: bold;
}
.searchbutton
{
    padding: 1em;
    background-color: #0065FC;
    border:#0065FC solid 0.01em;
    color: white;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    font-size: 1em ;
}
.smartsearchbutton
{
    font-family: FontAwesome;
    border-radius: 0.7em;
    padding: 1em;
    background-color: #0065FC;
    border:#0065FC solid 0.01em;
    color: white;
    font-size: 1em;
    margin-left: -1em;
}


/*Filtres*/
#filters
{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.filterstitle
{
    font-weight: bold;
    margin-right: 1.5em;
}
.ecofilter, .famfilter, .anifilter, .romfilter
{
    display:inline-block;
    flex-wrap: nowrap;
    margin-top:0.5em;
    margin-right:0.5em;
}

.fas.fa-money-bill-wave, .fas.fa-child, .fas.fa-heart, .fas.fa-dog
{
    color: #0065FC;
    background-color:#DEEBFF; 
    padding: 1em;
    border-radius: 2em;
    margin-right: -1.3em;
    position:relative;
    z-index: 2;
}
.fas.fa-money-bill-wave
{
    padding-left: 0.84em;
    padding-right: 0.84em;
    padding-bottom:0.97em;
}
.fas.fa-child
{
    padding-left: 1.17em;
    padding-right: 1.17em;
}
.filtersname
{
    border-top: #f2f2f2 solid 0.2em;
    border-right: #f2f2f2 solid 0.2em;
    border-bottom: #f2f2f2 solid 0.2em;
    padding: 0.72em;
    border-radius: 0em 2em 2em 0em;
    font-weight: bold;
    padding-left: 2em;
    border-width: 0.2em;
    position:relative;
    z-index: 1;
}



/*phrase info sur le nombre d'hébergements*/
.nombrehebergement
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.fas.fa-info
{
    color:#0065FC;
    border-radius: 10em;
    border-color:#f2f2f2;
    background-color: white;
    border-style:solid;
    border-width: 0.1em;
    padding-top:0.4em ;
    padding-left: 0.7em;
    padding-bottom:0.4em ;
    padding-right: 0.7em;
    margin-right: 0.7em;
}



/*responsive design pour smartphone*/
@media screen and (max-device-width:480px) 
{
    .searchbutton
    {
        display: none;
    }
    .filterstitle
    { 
        display:block;
        margin-bottom: 1em; 
    }

}

/*Responsive design pour tablettes*/
@media screen and (min-device-width:480px) 
{   
    .lowheader
    {
        padding:5%;
    }
    .smartsearchbutton
    {
        display: none;
    }
    .fas.fa-map-marker-alt
    {
        font-size: 1.09em ;  
    }
    .filterstitle
    { 
        display:block;
        margin-bottom: 1em; 
    }
}

/*Responsive desktop*/
@media screen and (min-device-width:768px) 
{
    body 
    {
        margin:2%
    }

    #logo
    {
        width: 6em;
        margin-left: 0%;
    }
    #login
    {
        position:absolute;
        right: 6em;
        margin-left: 5em;
        top:0em;
    }
    .topheader
    {
        display:flex;
        justify-content: space-between;
        align-items:center;
        vertical-align: middle;
    }
    .navandlogin
    {
        display:flex
    }
    li[class=navmenu]
    {
        display:inline-block;
        border-bottom: none;
        padding-top: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
        padding-left: 2em;
        text-align:center;
        width: 50%;
    }
    li[class=navmenu]:hover
    {
        display:inline-block;
        border-top: 0.2em #0065FC solid;
        border-bottom: none;
        padding-top: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
        padding-left: 2em;
        color: #0065FC;
        text-align: center;
        width: 50%;
    }
    #login
    {
        position:relative;
        margin-top:3em;
        padding-left: 3em;
        margin-right: 0em;
    }

    .lowheader
    {
        padding:0%
    }
   
    .smartsearchbutton
    {
        display: none;
    }
    .fas.fa-map-marker-alt
    {
        font-size: 1.1em ;  
        padding-top: 0.97em;
        padding-bottom: 1em;
    }

    .filterstitle
    {
        display: inline-block;
    }

}
