@font-face 
{
    font-family: "Raleway" ; src: url("polices/static/Raleway-Medium.ttf");
}

body
{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 0.9em ;
    margin:0%;
    padding: 0em;
    max-width: 100%;
    
}

header
{
    max-width: 100%;
    padding:0%;
    margin:0%;

}


#logo
{
    width: 7em ;
    height: 100%;
    margin-left: 5%;
    margin-top: 2.5%
}

#login
{
    color: #0065FC;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    right: 2.5em;
    top:2em;
}


/*Paramètres nav */
ul[class=navmenu] 
{
    list-style: none; /*puces retirées*/
    padding-left:0em ; /*tabulation liste retirée*/
    display: flex ;
    justify-content: space-between;
}
li[class=navmenu] 
{
    padding: 1em ; /*marge intérieure*/
    border-bottom: 0.2em #f2f2f2 solid;
    text-align: center ;
    width: 50%;
}
li[class=navmenu]:hover /*dynamique au clic*/
{
    padding: 1em ; /*marge intérieure*/
    border-bottom: 0.2em #0065FC solid;
}
a
{
    text-decoration:none; 
    color:black;
}
a:hover
{
    color: #0065FC;
}

.lowheader /*Bloc après nav et avant sections*/
{
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 5%;
}

h1
{
    font-size: 1.6em;
}


/*barre de recherche*/

.searchbar
{
    margin-top: 10%;
    display:flex;
    justify-content: flex-start;
    align-items:center;
    font-size: 1em;
    min-width: 100%;
    height: 3.1em;
    overflow:hidden;
    border-radius: 0.7em;
}
.fas.fa-map-marker-alt
{
    padding: 1em;
    background-color: #f2f2f2;
    border:#f2f2f2 solid 0.01em;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    
}
#cityfinder
{
    border: #f2f2f2 solid 0.01em;
    padding: 1em;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 70%;
}
.searchbutton
{
    padding: 1em;
    background-color: #0065FC;
    border:#0065FC solid 0.01em;
    color: white;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
}
.smartsearchbutton
{
    font-family: FontAwesome;
    border-radius: 0.7em;
    padding: 1em;
    background-color: #0065FC;
    border:#0065FC solid 0.01em;
    color: white;
    margin-left: -1em;
}


/*Filtres*/
#filters
{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.filterstitle
{
    font-weight: bold;
    margin-right: 1.5em;
}
.ecofilter, .famfilter, .anifilter, .romfilter
{
    display:inline-block;
    flex-wrap: nowrap;
    margin-top:0.5em;
    margin-right:0.5em;
}

.fas.fa-money-bill-wave, .fas.fa-child, .fas.fa-heart, .fas.fa-dog
{
    color: #0065FC;
    background-color:#DEEBFF; 
    padding: 1em;
    border-radius: 2em;
    margin-right: -1.3em;
    position:relative;
    z-index: 2;
}
.fas.fa-money-bill-wave
{
    padding-left: 0.84em;
    padding-right: 0.84em;
    padding-bottom:0.97em;
}
.fas.fa-child
{
    padding-left: 1.17em;
    padding-right: 1.17em;
}
.filtersname
{
    border-top: #f2f2f2 solid 0.2em;
    border-right: #f2f2f2 solid 0.2em;
    border-bottom: #f2f2f2 solid 0.2em;
    padding: 0.72em 1em 0.72em 2em;
    border-radius: 0em 2em 2em 0em;
    font-weight: bold;
    border-width: 0.2em;
    position:relative;
    z-index: 1;
}



/*phrase info sur le nombre d'hébergements*/
.nombrehebergement
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.fas.fa-info
{
    color:#0065FC;
    border-radius: 10em;
    border-color:#f2f2f2;
    background-color: white;
    border-style:solid;
    border-width: 0.1em;
    padding-top:0.4em ;
    padding-left: 0.7em;
    padding-bottom:0.4em ;
    padding-right: 0.7em;
    margin-right: 0.7em;
}



/*responsive design pour smartphone*/
@media screen and (max-device-width:600px) 
{
    .searchbutton
    {
        display: none;
    }
    .filterstitle
    { 
        display:block;
        margin-bottom: 1em; 
    }

}

/*Responsive design pour tablettes*/
@media only screen and (min-device-width:600px) and (max-device-width:1024px)
{   
    .lowheader
    {
        padding:5%;
        margin-top: -1.5em;
        margin-bottom: -1.5em;
    }
    .smartsearchbutton
    {
        display: none;
    }
    .searchbar
    {   
        margin-top: 2em;
        height: 3.07em;
    }
    .fas.fa-map-marker-alt
    {
        font-size: 1em ;
    }
    #cityfinder
    {
        width: 15em;
    }
    .filterstitle
    { 
        display:block;
        margin-bottom: 1em; 
    }
}

/*Responsive desktop*/
@media screen and (min-device-width:1024px) 
{

    body
    {
        max-width: 100%;
        padding: 2%;
        margin:0%
    }

    #logo
    {
        width: 6em;
        margin-left: 0%;
        margin-top: -0.8em;
    }

    #login
    {
        position:relative;
        margin-top:1em;
        padding-left: 5em;
        margin-right: 0em;
        text-align: end;
    }

    .topheader
    {
        display:flex;
        justify-content: space-between;
        align-items:center;
        vertical-align: middle;
    }
    .navandlogin
    {
        display:flex
    }
    li[class=navmenu]
    {
        display:inline-block;
        border-bottom: none;
        padding-top: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
        padding-left: 2em;
        text-align:center;
        width: 50%;
    }
    li[class=navmenu]:hover
    {
        display:inline-block;
        border-top: 0.2em #0065FC solid;
        border-bottom: none;
        padding-top: 2em;
        padding-right: 2em;
        padding-bottom: 2em;
        padding-left: 2em;
        color: #0065FC;
        text-align: center;
        width: 50%;
    }


    .lowheader
    {
        padding:0%;
        margin-top: -0.5em;
    }

    .formsearchbar
    {
        margin-top:-8.5em;
    }

    #cityfinder
    {
        max-width: 14em;
    }

    .smartsearchbutton
    {
        display: none;
    }

    .filterstitle
    {
        display: inline-block;
    }


}
