
section[id="section1"]
{
    display:flex;
}

/*Couleurs des étoiles*/
.fas.fa-star.blue
{
    color:#0065FC;
}
.fas.fa-star.grey
{
    color:#f2f2f2;
}

.stars
{
    display:inline-flex;
    justify-content: flex-start;
}

/*Bloc hébergements*/
article
{
    padding:4%;
}
.hoteltitle
{
    padding-bottom: 1%;
}
.hotelspicsanddesc
{
    display:flex;
    flex-direction: column;
    width: 96.6%;
    height: 15em;
    box-shadow: 0em 0em 0.4em lightgray;
    border-radius: 2em;
    border: solid 0.4em white;
}

.hotelspics
{
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2em 2em 0em 0em;
    z-index:1;
}
h4[class="hotelname"]
{
    margin-bottom: -0.5em;
    margin-top: 0.5em;
}
.hotelsdesc
{
    background-color:white;
    margin-top: -2em;
    padding-left: 1.2em;
    padding-bottom: 0.8em;
    width: 96.5%;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    z-index: 2;
}
.hotelsprices
{
    margin-bottom: 0.5em;
}
.morehotels
{
    font-weight: bold;
}


/*Bloc les plus populaires*/
aside
{
    background-color: #f2f2f2;
    width: 100%;
    padding:4%
}
.poptitle
{
    display: flex ;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 2.4%;
    padding-top: 0%;
    font-size: 1em;
}
.fas.fa-chart-line
{
    font-size: 20px;
}
.pophotelspic
{
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 97%;
    height: 10em;
    border: solid 0.4em white;
    border-radius: 2em;
    z-index:1;
}
.pophotelname
{
    margin-top: 0.8em;
    margin-bottom: 0em;
}
.pophotelsdesc
{
    background-color:white;
    margin-left: -3.5em;
    padding-left: 1.5em;
    padding-right: 3.5em;
    width: 20em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    z-index:2;
}
.pophotelspicsanddesc
{
    display:flex;
    box-shadow: 0em 0em 0.4em lightgray;
    border-radius: 2em;
}

/*Bloc activités*/
section[id="section2"]
{
    width:100%;
    padding:4%
}

.actipicsanddesc
{
    box-shadow: 0em 0em 0.4em lightgray;
    border-radius: 2em;
    width: 92%;
    
}
.activitiespics
{
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 10em;
    border-radius: 2em 2em 0em 0em;
    z-index:1;
}
.activitiestitle
{
    width: 100%;
    padding-bottom: 1.5em;
    padding-left: 1.7em;
    font-weight: bold;
}




/*responsive design pour smartphone*/
@media screen and (max-device-width:480px) 
{
    section[id="section1"]
    {
        flex-wrap: wrap;
    }
    aside
    {
        order:1;
    }
    article
    {
        order:2;
    }

}

/*Responsive design pour tablettes*/
@media screen and (min-device-width:480px) 
{
 
}

/*Responsive desktop*/
@media screen and (min-device-width:768px) 
{   
    article
    {
        width: 62%;
        background-color: #f2f2f2;
        margin-right: 2em;
        border-radius: 1em;
        padding:2%;
    }

    .hotelspics
    {
        width: 20em
    }
    .hotelsdesc
    {
        width: 18.8em;
    }
    .allhotels
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: space-between;
        
    }

    .hotelspicsanddesc
    {
        margin: 0em 0em 2em 0em;
        width: 20em;
    }

    aside
    {
        text-align: justify;
        width: 25%;
        padding: 2%;
        border-radius: 1em;
    }
}