
section[id="section1"]
{
    display:flex;
}

/*Couleurs des étoiles*/
.fas.fa-star.blue
{
    color:#0065FC;
}
.fas.fa-star.grey
{
    color:#f2f2f2;
}

.stars
{
    display:inline-flex;
    justify-content: flex-start;
}

/*Bloc hébergements*/
article
{
    padding:5%;
}
.hoteltitle
{
    padding-bottom: 1%;
    font-weight: bold;
    padding-left: 0.5em;
}
.hotelspicsanddesc 
{
    display:flex;
    flex-direction: column;
    width: 95%;
    height: 15em;
    box-shadow: 0em 0em 0.4em lightgray;
    border-radius: 1.5em;
    border: solid 0.4em white;
    overflow: hidden;
}

.hotelspics
{
    position: relative;
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1.5em 1.5em 0em 0em;
    z-index:1;
}
h4[class="hotelname"]
{
    margin-bottom: -0.5em;
    margin-top: 0.5em;
    font-size: 1.1em;
    font-weight: bold;
}
.hotelsdesc
{
    background-color:white;
    margin-top: -2.5em;
    margin-left: -0.1em;
    padding-left: 1.2em;
    padding-bottom: 0.8em;
    width: 100%;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    z-index: 2;
}
.hotelsprices
{
    margin-bottom: 0.5em;
}
.morehotels
{
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 0.5em;
}


/*Bloc les plus populaires*/
aside
{
    background-color: #f2f2f2;
    width: 100%;
    padding:5%
}
.poptitle
{
    display: flex ;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 2.4%;
    padding-top: 0%;
    font-size: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.fas.fa-chart-line
{
    font-size: 20px;
}
.pophotelspic
{
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 11em;
    z-index:1;
}
.pophotelname
{
    margin-top: 0.5em;
    margin-bottom: 0em;
    font-weight: bold;
    font-size: 1.1em;
}
.pophotelsdesc
{
    background-color:white;
    margin-left: -3em;
    margin-bottom: -3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 18em;
    height:100%;
    z-index:2;
}
.pophotelspicsanddesc
{
    overflow: hidden;
    display:flex;
    box-shadow: 0em 0em 0.4em lightgray;
    border-radius: 1.5em;
    width: 96%;
    height: 9em;
    border: solid 0.4em white;
    z-index:3;
    background-color: white;
}

/*Bloc activités*/
section[id="section2"]
{
    max-width:100%;
    padding:5%
}

.actipicsanddesc 
{
    box-shadow: 0em 0em 0.4em lightgray;
    border-radius: 1.5em;
    width: 100%; 
}
.activitiespics
{
    object-fit: cover;
    width: 100%;
    height: 10em;
    border-radius: 1.5em 1.5em 0em 0em;
    z-index:1;
}
.activitiestitle
{
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    font-weight: bold;
}



/*responsive smartphone*/
@media screen and (max-device-width:600px) 
{
    section[id="section1"]
    {
        flex-wrap: wrap;
    }
    aside
    {
        order:1;
    }
    article
    {
        order:2;
    }

}

/*Responsive tablettes*/
@media only screen and (min-device-width:600px) and (max-device-width:1024px) 
{

    section[id="section1"]
    {
        flex-wrap: wrap;
    }
    
    article /* bloc hébergement */
    {
        order:2;

    }

    .allhotels
    {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    .hotelspicsanddesc
    {
        width: 46%;
        margin-bottom: 1.5em;
    }

    aside /*bloc populaire*/
    {
        order:1;
    }
    .allpophotels
    {
        display:flex;
        justify-content: space-between;
    }
    .pophotelspicsanddesc
    {
        width: 30%;
        height: 11.5em;
    }
    .pophotelsdesc
    {
        width: 60%;
        margin-left: 0em;
        margin-top: -0.7em;
        padding: 3%;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .pophotelspic
    {
        width: 40%;
        height: 100%;
    }

    /*Bloc activités*/
    .allactivities
    {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .actipicsanddesc
    {
        width: 100%;

    }
    .activitescolumn1
    {
        width: 30%;
        display: flex;
        height: 14em;
        margin-right: 0.5em;
        margin-top: 1em;
        
    }
    .activitescolumn2
    {
        width: 65%;
        display: flex;
        justify-content: space-between;
        height: 14em;
        margin-left: 1em;
        margin-top: 1em;
        margin-bottom: 1em;

    }
    .actipicsanddesc.equal
    {
        width: 46%;
        
    }

    .actipicsanddesc.equal.one
    {
        margin-right: 8%;
        
    }
    .actipicsanddesc.high
    {
        width: 46%;
        margin-right: 8%;
        
    }
    .actipicsanddesc.small
    {
        width: 46%;
        
    }

    .activitiestitle
    {
        margin-top: 0.5em;
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
    }

    section[id="section2"]
    {
        margin-top:-1.5em;
    }
}

/*Responsive desktop*/
@media screen and (min-device-width:1024px) 
{   

    article
    {
        width: 65%;
        background-color: #f2f2f2;
        margin-right: 2em;
        border-radius: 1em;
        padding:2%;
    }

    .hotelspicsanddesc
    {
        max-width: 29%;
        background-color: white;
        margin-bottom: 2em;
    }
    .hotelspics
    {
        max-width: 100%;
    }
    .hotelsdesc
    {
        max-width: 100%;
    }
    .allhotels
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: space-around;
    }

    aside
    {
        text-align: justify;
        width: 25%;
        padding: 2%;
        border-radius: 1em;
    }
    .pophotelspicsanddesc
    {
        height: 10em ;
        margin-bottom: 1em;
    }
    

    /*Bloc Activités*/
    section[id="section2"]
    {
        margin: 4em -0em 4em 0em;
        padding:0em;
        width: 100%;
        
    }

    .allactivities
    {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        flex-wrap: wrap;
        height: 30em;
        padding:0em;
        width: 100%;
        margin-top: 2.5em;
    }

    .actipicsanddesc
    {
        width: 100%;
    }

    /*Blocs avec 1 activité par colonne*/
    .activitescolumn1
    {
        width: 23%;
        display:flex;
        flex-grow: 2;

    }
    .activitiespics.column1
    {
        width: 100%;
        height: 27em;
    }
    .activitiestitle.column1
    {
        width: 100%;
        height: 1em;
        margin-bottom: 0.5em;
        
    }

    /*Blocs avec 2 activités par colonne*/
    .activitescolumn2
    {
        width: 23%;
        height: 30em;
        display:flex;
        justify-content: space-between;
        align-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .actipicsanddesc.high
    {
        height: 60%;
        display:flex;
        flex-direction: column;
        flex-grow: 2;
    }

     .activitiespics.high
    {
        height: 13.5em
    }


    .actipicsanddesc.small
    {
        height: 36%;
        margin-top: 2.7em;
    }


    .activitiespics.small
    { 
        height: 6.2em;
    }


    .actipicsanddesc.equal
    {
        height: 48%;
    }

    .actipicsanddesc.equal.one
    {
        margin-bottom: 2.7em;
    }
    
    .activitiespics
    {
        height:10em
    }

}